- name: Make beacon host dir
  file:
    path: "{{beacon_host_dir}}"
    state: directory
- name: Genesis state file
  copy:
    src: "{{genesis_file}}"
    dest: "{{beacon_host_dir}}/custom_genesis.ssz"
  when: genesis_file is defined
# Some beacon node types, like Nimbus, look for validators by default,
# even though we want to run a different validator client.
# To avoid the risk of running the same validators in both BN and VC, point the BN to empty dummy directories.
- name: BN keys alternative
  file:
    dest: "{{beacon_host_dir}}/no_bn_keys"
    state: directory
- name: BN secrets alternative
  file:
    dest: "{{beacon_host_dir}}/no_bn_secrets"
    state: directory
- name: Teku logging config
  template:
    src: ../templates/teku_log_config.xml.j2
    dest: "{{beacon_host_dir}}/log_config.xml"
    force: yes
  when: eth2client_name == "teku"
- name: Validators config placeholder
  copy:
    content: ""
    force: false
    dest: "{{beacon_host_dir}}/{{validators_config_file}}"
  when: (not has_validator_client) and (validators_config_file is defined)
- name: deploy custom testnet data if necessary
  include_tasks: "custom-testnet-beacon-{{eth2client_name}}.yml"
  when: testnet_type == 'custom'
- name: Start Eth2 beacon node container
  docker_container:
    name: "{{ beacon_container_name }}"
    state: started
    image: "{{ beacon_image_name }}"
    pull: true
    restart_policy: unless-stopped
    memory_swappiness: 0
    kernel_memory: "{{beacon_kernel_memory}}"
    network_mode: host
    restart: "{{ beacon_require_restart | default(false) }}"
    log_options: "{{ common_log_options }}"
    log_driver: "{{ common_log_driver }}"
    volumes:
      - "{{beacon_host_dir}}:{{beacon_container_dir}}"
    memory: "{{beacon_memory}}"
    memory_swap: "{{beacon_memory}}"
    command: "{{ beacon_start_args }}"
    env: "{{ beacon_env | default({}) }}"

# TODO: configure client health check
