- name: Create data dir
  file:
    path: "{{eth2stats_host_path}}"
    state: directory
- name: Copy client versions config
  copy:   # put yaml data into config file to mount into container.
    content: "{{ eth2stats_client_versions_conf | to_nice_yaml }}"
    dest: "{{eth2stats_host_path}}/client-versions.yml"
- name: Start Eth2stats server
  docker_container:
    name: "{{ eth2stats_server_container_name }}"
    state: started
    image: "{{ eth2stats_server_image_name }}"
    pull: true
    restart_policy: unless-stopped
    network_mode: bridge  # for nginx rev proxy
    published_ports:
      - "5000:5000"  # just the container port exposed within the host, for the nginx setup
      - "0.0.0.0:{{eth2stats_server_grpc_port}}:8080"  # Bind to host ip on GRPC port (binding to container port 8080)
    env:
      VIRTUAL_HOST: "{{ eth2stats_server_domain }}"
      VIRTUAL_PORT: "5000"
      LETSENCRYPT_HOST: "{{ eth2stats_server_domain }}"
      LETSENCRYPT_EMAIL: "{{ letsencrypt_email }}"
    restart: "{{ eth2stats_server_require_restart | default(false) }}"
    memory: "{{eth2stats_server_memory}}"
    command: "{{ eth2stats_server_start_args }}"
    volumes:
      - "{{eth2stats_host_path}}:{{eth2stats_container_path}}"  # mount config file directly
