beacon_memory: 3200M
beacon_kernel_memory: 3300M

beacon_image_name: gcr.io/prysmaticlabs/prysm/beacon-chain
beacon_start_args: >
  --datadir="{{beacon_container_dir}}"
  {% if testnet_type == 'custom' %}
  --chain-config-file="{{beacon_container_dir}}/custom_testnet_config/prysm_config.yaml"
  --deposit-contract="{{deposit_contract_address}}"
  --contract-deployment-block="{{deposit_contract_deploy_block_nr}}"
  {% elif testnet_type == 'altona' %}
  --altona
  {% endif %}
  --http-web3provider="{{eth1_endpoint.http}}"
  --p2p-host-ip={{public_ip_address}}
  --p2p-max-peers={{hi_peer_count}}
  --p2p-udp-port={{beacon_udp_port}} --p2p-tcp-port={{beacon_tcp_port}}
  --monitoring-host=0.0.0.0 --monitoring-port={{beacon_metrics_port}}
  --rpc-host=0.0.0.0 --rpc-port={{beacon_grpc_port}}
  --grpc-gateway-host=0.0.0.0
  --grpc-gateway-port={{beacon_rpc_port}}
  --verbosity="{{ beacon_log_level | lower }}"
  --enable-debug-rpc-endpoints
  --min-sync-peers 1
  {% if bootnode_enrs is defined %}
  {% for bootnode_enr in bootnode_enrs %}
  --bootstrap-node="{{ bootnode_enr }}"
  {% endfor %}
  {% endif %}
