validator_memory: 200m

validator_image_name: gcr.io/prysmaticlabs/prysm/validator:latest
validator_start_args: >
  --datadir="/data"
  {% if testnet_type == 'custom' %}
  --chain-config-file="{{validator_container_dir}}/custom_testnet_config/prysm_config.yaml"
  {% elif testnet_type == 'altona' %}
  --altona
  {% elif testnet_type == 'onyx' %}
  --onyx
  {% elif testnet_type == 'medalla' %}
  --medalla
  {% elif testnet_type == 'zinken' %}
  --zinken
  {% endif %}
  --beacon-rpc-provider=localhost:{{beacon_grpc_port}}
  --graffiti="{{ validator_graffiti }}"
  --monitoring-host=0.0.0.0 --monitoring-port={{validator_metrics_port}}
  --password=""
  --disable-accounts-v2=true
  --keymanager=wallet
  --keymanageropts={{ validator_container_dir }}/keymanager_opts.json

# TODO: migrate to new keys structure
