grafana_admin_pass: changemechangeme

metrics_domain: example.com

letsencrypt_email: "foobar@example.com"

grafana_host_dir: "{{home_dir}}/grafana"
prometheus_host_dir: "{{home_dir}}/prometheus"

# Ips only bind to container interface, within bridge-mode network

prometheus_ip: 0.0.0.0
prometheus_port: 9090

grafana_ip: 0.0.0.0
grafana_port: 3000

grafana_prometheus_network_name: promnet

# TODO: update path and/or include git submodule
metrics_dashboards_source: "{{role_path}}/files/eth2-metrics"

prometheus_settings:
  global:
    scrape_interval:     15s
    evaluation_interval: 15s
    scrape_timeout:      10s
  scrape_configs: []
